# Auto detect text files and perform LF normalization
* text=auto

apps/model/target/* linguist-generated
apps/snake/target/* linguist-generated
apps/solitaire/target/* linguist-generated
apps/tetris/target/* linguist-generated
apps/all_apps/target/* linguist-generated
apps/puissance4/target/* linguist-generated




